.pulse{
    width: 50px;
    height: 50px;
    position: absolute;
  }
  svg.pulse-svg {
    overflow: visible;
    width: 100%;
    height: 100%;
  }
  
  /**/
  .pulse-svg radialGradient stop{
    animation: disappear 3s linear infinite;
  }
  .pulse-svg radialGradient:nth-of-type(2) stop{
    animation-delay: 1s;
  }
  .pulse-svg radialGradient:nth-of-type(3) stop{
    animation-delay: 2s;
  }
  /**/
  .pulse-svg .circle{
    animation: pulse 3s linear infinite;
  }
  .pulse-svg .circle:nth-of-type(2){
    animation-delay: 1s;
  }
  .pulse-svg .circle:nth-of-type(3){
    animation-delay: 2s;
  }
  /**/
  
  
  @keyframes disappear {
    0% {
      stop-opacity: 1;
    }
    50% {
      stop-opacity: 0.5;
    }
    100% {
      stop-opacity: 0;
    }
  }
  @keyframes pulse {
    0% {
      r: 0%;
      opacity:1;
    }
    70% {
      r: 50%;
    }
    90% {
        r: 50%;
        opacity:1;
      }
    100% {
      r: 50%;
      opacity:0;
    }
  }
  